{
    "splitwiseSession": "extract the _splitwise_session from your web browser cookies",
    "slack": {
        "channel": "#test",
        "webhookUrl": "put your slack webhook url here"
    },
    "stateFilePath": "./state.json",
    "timezone": "America/Chicago",
    "dateformat": "dddd MMM DD \\a\\t hh:mm"
}
